* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url(https://static1.squarespace.com/static/589b71d3893fc0e87776b388/t/5b91987703ce64e52c368322/1536268432908/crystal+background.jpg);
    background-repeat:no-repeat;
    background-size:cover;   
  }

  #name {
    background: rgb(7, 134, 117);
    color:white;
    width:300px;
    height:60px;
    font-size:35px;
    text-align:center;
    margin:20px 20px;
    padding:10px;
  }

  p { 
    margin:10px;
    color:white;  
  }

  #computerScore {
    width:180px;
    height:100px;
    background: rgb(188, 91, 226);
    margin:0;
    color:#fff;
    font-size:50px;
    padding:20px;  
  }

  #userScore {
    position:relative;
    width:130px;
    height:100px;
    background:purple;
    float:right;
    top:-100px;
    font-size: 20px;
  }

  .scoreContainer {
    width:300px;
    height:50;
    margin:0px 20px;
  }
  
  #userTotalScore {
    width:200px;
    height:40px;
    background:rgb(8, 135, 219);
    padding:10px;
    margin:20px 20px;
    color:#fff;
    font-size: 20px
  }
  
  #userPoints {
    width:200px;
    height:100px;
    background:rgb(132, 91, 226);
    margin:20px 20px;
    color:#fff;
    font-size:50px;
    padding:20px;
  }

  .images {
    display:inline-block;
    margin:0 20px;
  }
  
  .images:hover{
    cursor:pointer;
  }
  
  #amethyst {
    width: 120px;
    height:120px;
    margin-top:-250px;
    margin-right: 40px;
  }

  #emerald {
    width: 120px;
    height:120px; 
    margin-right: 10px;
  }

  #quartz {
    width: 120px;
    height:120px;
    margin-left:-40px;
  }

  #ruby {
    width: 120px;
    height:120px;
    margin-left:-10px;
  }